@use "../vars";

.task {
  display: flex;
  align-items: center;
  gap: 1rem;

  @supports (animation-timeline: scroll()) {
    animation: fade-in linear forwards;
    animation-timeline: view(y);
    animation-range: exit exit 40px;
  }
}

.task__status-indicator {
  appearance: none;
  inline-size: vars.$fs-300;
  aspect-ratio: 1;
  border: 1.5px solid vars.$clr-gray-100;
  border-radius: 50%;
  transition: border-color 250ms;
  cursor: pointer;

  &:hover,
  &:checked {
    border-color: vars.$clr-blue-100;
  }
}
.task__btn {
  margin-inline-start: auto;
  font-size: vars.$fs-300;
}

.task__btn--danger {
  color: vars.$clr-gray-100;
  transition: color 250ms;

  &:hover {
    color: vars.$clr-red-100;
  }
}

@keyframes fade-in {
  0% {
    opacity: 1;
    visibility: visible;
  }
  80%,
  100% {
    opacity: 0;
  }
}
